{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block content %}
<div class="screen">  
  <div class="screen-image"></div>  
  <div class="screen-overlay"></div>  
  <div class="screen-content">
    <i class="screen-icon fa-brands fa-codepen"></i>
    <div class="screen-user">
      <span class="name" data-value="Web3Easy">Web3Easy</span>
      <a class="link" href="https://t.me/web3easy_bot" target="_blank">@Telegram Bot</a>
    </div>
  </div>
</div>

<div id="blur"></div>

<div id="links">
  <div class="meta-link">  
    <span class="label">Telegram Channel</span>
    <span class="dot">-</span>
    <a class="source" href="https://t.me/web3easy" target="_blank">
      <i class="fa-brands fa-telegram"></i> @web3easy
    </a>
  </div>
  
  <div class="meta-link">  
    <span class="label">Telegram Group</span>
    <span class="dot">-</span>
    <a class="source" href="https://t.me/web3easychat" target="_blank">
      <i class="fa-brands fa-telegram"></i> @web3easychat
    </a>
  </div>
</div>

{% if show_popup %}
<div id="popup" class="popup">
  <div class="popup-content">
    <p>Ожидайте поступления трафика в течение 5 минут.</p>
    <button id="close-popup">Закрыть</button>
  </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
  <script async charset='utf-8' src="static/js/index.js"></script>
  {% if show_popup %}
  <script charset='utf-8' src="static/js/popup.js"></script>
  {% endif %}
{% endblock %}