fastapi[all]
fastapi-users[sqlalchemy]
fastapi-pagination
fastapi-cache2
sqladmin[full]
gunicorn

aioboto3
pillow
filetype

sqlalchemy[asyncio]
sqlalchemy-utils
alembic
asyncpg
psycopg2-binary
redis[asyncio]

taskiq-fastapi
taskiq-aio-pika
taskiq-redis

celery
celery-sqlalchemy-scheduler
kombu

pytest
pytest-asyncio

python-telegram-bot[http2,webhooks,rate-limiter,callback-data,job-queue,passport]~=21.6
