fastapi[all]
fastapi-users[sqlalchemy]
fastapi-pagination
fastapi-cache2
aioboto3
pillow

sqlalchemy[asyncio]
sqlalchemy-utils
fastapi-async-sqlalchemy
alembic
asyncpg
psycopg2-binary

celery
taskiq-aio-pika
taskiq_redis
redis[asyncio]
celery-sqlalchemy-scheduler

asyncer
pytest
pytest-asyncio
