.chat-popup {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.chat-popup.closed {
  height: 50px;
}

.chat-popup.open {
  height: 700px;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
}

.chat-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: calc(100% - 70px);
}

.messages {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

.message.self {
  background-color: #e6ffe6;
  align-self: flex-end;
}

.message.other {
  background-color: #f0f0f0;
  align-self: flex-start;
}

.chat-footer {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  flex-shrink: 0;
}

.message-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-message {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}