.chat-popup {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 400px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.chat-popup.closed {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat-popup.closed .chat-header {
  width: 100%;
  height: 100%;
  background-color: #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
}

.chat-popup.closed .chat-header h4 {
  display: none;
}

.chat-popup.open {
  height: 700px;
  border-radius: 10px;
}

.chat-popup.open .chat-header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.chat-header {
  cursor: pointer;
}

.chat-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow-y: auto;
  max-height: calc(100% - 70px);
}

.messages {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  max-width: 80%;
}

.message.self {
  background-color: #dcf8c6;
  align-self: flex-end;
  border-radius: 15px 15px 0 15px;
}

.message.other {
  background-color: #f1f0f0;
  align-self: flex-start;
  border-radius: 15px 15px 15px 0;
}

.chat-footer {
  display: flex;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  flex-shrink: 0;
}

.message-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input:focus {
  outline: none;
  border-color: #4caf50;
}

.send-message {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-message:hover {
  background-color: #45a049;
}

.chat-icon {
  font-size: 30px;
  color: white;
}

.message pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
}

.message code {
  white-space: pre-wrap;
  word-wrap: break-word;
}