{% extends "base.html" %}

{% block style %}
  <link href="/static/css/images.css" rel="stylesheet">
{% endblock %}

{% block body %}

  <div id="auth-section">
    <h2>Login</h2>
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <button id="login-button">Login</button>
  </div>

  <div id="add-image">
    <h2>Upload Your Images</h2>
    <input type="file" multiple accept="image/*" id="file-input" />

    <div class="image-grid" id="image-grid">
      <!-- Preview images will be shown here -->
    </div>

    <button id="upload-button" data-app="users-account">Upload</button>
  </div>

{% endblock %}

{% block script %}
  <script src="/static/js/images.js"></script>
{% endblock %}